{% extends 'layout.twig' %}

{% block title %}
    <title>Users</title>
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Registered at</th>
        </tr>
        </thead>
        <tbody>
        {% if users|length > 0 %}
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.created_at|date }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">No users found!</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}
