{% extends 'layout.twig' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <main class="my-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">Login</div>
                        <div class="card-body">
                            <form name="login" onsubmit="return validform()" action="/login" method="POST">

                                <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address (*)</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="email" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password (*)</label>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" name="password" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="remember" class="col-md-4 col-form-label text-md-right">Remember me</label>
                                    <div class="col-md-8">
                                        <input type="checkbox" value="1" name="remember">
                                    </div>
                                </div>

                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>
                                </div>

                                <div class="col-md-8 offset-md-4">
                                    {% if validationErrors|length > 0 %}
                                        <br>
                                        {% for error in validationErrors %}
                                            <div class="alert alert-warning" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
