{% extends 'layout.twig' %}

{% block title %}
    <title>Registration</title>
{% endblock %}

{% block content %}
    <main class="my-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <form name="register" onsubmit="return validform()" action="/register" method="POST">

                                <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address
                                        (*)</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="email" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="username" class="col-md-4 col-form-label text-md-right">User
                                        Name</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="username">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="first_name" class="col-md-4 col-form-label text-md-right">First
                                        Name</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="first_name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="last_name" class="col-md-4 col-form-label text-md-right">Last
                                        Name</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="last_name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password
                                        (*)</label>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" name="password" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password_confirm" class="col-md-4 col-form-label text-md-right">Confirm
                                        password (*)</label>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" name="password_confirm" required>
                                    </div>
                                </div>

                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Register
                                    </button>
                                </div>

                                <div class="col-md-8 offset-md-4">
                                    {% if validationErrors|length > 0 %}
                                        <br>
                                        {% for error in validationErrors %}
                                            <div class="alert alert-warning" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
